.dropdownContainer {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.optionsContainer {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 2px 2px 9px #bbb;
  transform: translateY(2px);
  z-index: 10;
}

.option {
  width: 100%;
}

.option > div {
  padding: 12px;
  text-align: left;
}

.valueBox {
  padding: 12px;
}
