.infoContainer {
  display: flex;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
.notesHeading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
}

.graphDescription {
  background: rgba(50, 144, 237, 0.05);
  border-radius: 10.5px;
  padding: 12px;
  margin-bottom: 24px;
}

.tableContainer {
  width: 100%;
  margin-top: 2rem;
}

.mainContainer > .quill > .ql-container {
  min-height: 500px;
}

.columnConfigBox {
  display: flex;
  width: 141px;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 9px #bbb;
  position: absolute;
  z-index: 20;
  background-color: white;
  max-height: 400px;
  overflow-y: auto;
}
