.infoContainer {
  display: flex;
  margin-bottom: 24px;
}
.notesHeading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
}

.graphDescription {
  background: rgba(50, 144, 237, 0.05);
  border-radius: 10.5px;
  padding: 12px;
  margin-bottom: 24px;
}

.tableContainer {
  width: 100%;
  margin-top: 2rem;
}

.mainContainer > .quill > .ql-container {
  min-height: 500px;
}
