.mainContainer {
  display: flex;
  padding: 15px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: absolute;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 25px;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 2;
}

.yesBtn {
  background: #0066eb;
  box-shadow: 0px 2.03175px 2.03175px rgba(0, 0, 0, 0.25);
  border-radius: 5.07937px;
  color: white;
  border: 0px;
  margin-right: 12px;
  padding: 2px;
  height: 25px;
  font-size: 12px;
  width: 38px;
}

.noBtn {
  background: #979797;
  box-shadow: 0px 2.03175px 2.03175px rgba(0, 0, 0, 0.25);
  border-radius: 5.07937px;
  color: white;
  border: 0px;
  padding: 2px;
  height: 25px;
  font-size: 12px;
  width: 38px;
}

.SelectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}
