.navigationBtnContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  gap: 2rem;
  margin-top: 1.5rem;
  color: #777;
  box-shadow: none;
}

.inactive {
  color: #808080 !important;
}
.active {
  color: #0066eb !important;
}
